<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
</head>
<html>

<body>
    <div id="mapid" style="height: 1000px;"></div>
</body>

</html>

<script>

    let map = L.map('mapid').zoomIn().setMinZoom(4).setMaxZoom(9).setView([80, 0], 9);

    const nbTuilesX = [360, 180, 90, 30, 10, 2];

    L.TileLayer.MyCustomLayer = L.TileLayer.extend({
        getTileUrl: function (coords) {
            let zoomLevel = 10 - coords.z;
            let currentNbTuilesX = nbTuilesX[zoomLevel - 1];
            while(coords.x < 0)
                coords.x += currentNbTuilesX;
            coords.x = coords.x % currentNbTuilesX;
            if (coords.y < (nbTuilesX[zoomLevel - 1] / 2))
                return L.TileLayer.prototype.getTileUrl.call(this, coords);
        }
    });

    L.tileLayer.myCustomLayer = function (templateUrl, options) {
        return new L.TileLayer.MyCustomLayer(templateUrl, options);
    }

    L.tileLayer.myCustomLayer('http://young:3292/canvas/{z}/{x}/{y}', {
        minZoom: 4,
        maxZoom: 9,
        tms: false,
        noWrap: true,
        defaultRadius: 1,
        continuousWorld: false
    }).addTo(map);

</script>