<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
</head>
<html>

<body>
    <div id="mapid" style="height: 1000px;"></div>
</body>

</html>

<script>
    let map = L.map('mapid').setView([42, 9], 15);

    /*L.tileLayer('http://ripoux:2300/canvas/{z}/{x}/{y}', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        zIndex: 50
    }).addTo(map);*/

    L.TileLayer.MyCustomLayer = L.TileLayer.extend({
        getTileUrl: function (coords) {
            coords.x = coords.x % 360;
            coords.y = coords.y % 180;
            return L.TileLayer.prototype.getTileUrl.call(this, coords);
        }
    });

    L.tileLayer.myCustomLayer = function (templateUrl, options) {
        return new L.TileLayer.MyCustomLayer(templateUrl, options);
    }

    L.tileLayer.myCustomLayer('http://ripoux:2400/canvas/{z}/{x}/{y}', {
        minZoom: 0,
        maxZoom: 8,
        tms: false,
        noWrap: false,
        defaultRadius: 1,
    }).addTo(map);

</script>